*, html, body {
  padding:0;
  margin:0;
  text-align:center;
}

#header {
  background-color:black;
  color:white;
  padding:10px;
}

#body{
  padding:25px;
  min-height:80vh;
}

#footer{
  background-color:#555;
  color:white;
  padding: 50px 10px 25px;
  text-align:center;
}

#colorBox {
  width:60%;
  display:inline-block;
}
#colorForm {
  width:35%;
  display:inline-block;
}

#colorBox div {
    border:4px solid white;
}

#colorBox span {
  display:inline-block;
  width:100px;
  height:37px;
  margin:0;
}

#colorBox #mainRow {
  border:4px outset black;
  width:auto;
  display:inline-block;
}

#colorBox #mainRow span {
  height:150px;
}


.slider {

}

#copyLink {
  width:400px;
  padding:5px;
}
